body.loggedin nav li#sign_up {
    display: none;
}

nav li#create_game {
    display: none;
}

body.loggedin nav li#create_game {
    display: block;
}
span#bg {
/*    display: block;
    width: 175px;
    height: 45px;
    background-image: url('/img/header.png');
    text-indent: -9999px;
    margin-left: -5px;*/
    font-size: 102pt;
    font-weight: bold;
    font-family: MutluOrnamental;
    color: #181818;
    text-shadow: 0 0 2em #444444;
    margin-left: -500px;
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: -999;
}
body header h1 a {
    font-size: 48pt;
    font-family: MutluOrnamental;
    z-index: 999;
}
nav ul li a, h1 {
    font-size: 14pt;
}
table.kills th {
    width: 200px;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
}
table.kills .date {
    width: 120px;
}

table.kills tr:last-child td, table.kills tr:last-child th {
    border-bottom: 0px;
}

table.kills td {
    overflow: hidden;
    text-overflow: ellipsis;
}

a.target {
    font-size: 14pt;
    font-weight: bold;
}

span.pkn {
    font-size: 28pt;
    font-weight: bold;
}

input#pkn {
    font-size: 14pt;
    font-weight: bold;
    width: 70px;
}

#userbox ul li {
    padding-bottom: 0.5em;
}

#userbox button {
    font-size: 12pt;
    border-radius: 8px;
    margin: 0px;
}

#userbox input {
    margin: 0px;
    width: 200px !important;
}

#userbox h1 {
    font-size: 18pt;
}

#content form input[type=text], #content form textarea {
    width: 620px;
}


#content form textarea {
    height: 8em;
}

input[type=password], input.password {
    width: 200px !important;
}