body.loggedin nav li#sign_up, nav li#create_game {
  display: none; }

body.loggedin nav li#create_game {
  display: block; }

span#bg {
  font-size: 250pt;
  font-weight: normal;
  font-family: MutluOrnamental;
  color: #101010;
  text-shadow: 0 0 2em #181818;
  margin-left: -500px;
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: -999; }

body header {
  margin-bottom: 0px;
  h1 a {
    z-index: 999;
    font-weight: bold; } }

nav ul li a, h1 {
  font-size: 14pt; }

table.kills {
  th {
    width: 200px;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px; }
  .date {
    width: 120px; }
  tr:last-child {
    td, th {
      border-bottom: 0px; } }
  td {
    overflow: hidden;
    text-overflow: ellipsis; } }

a.target {
  font-size: 14pt;
  font-weight: bold; }

span.pkn {
  font-size: 28pt;
  font-weight: bold; }

input#pkn {
  font-size: 14pt;
  font-weight: bold;
  width: 70px; }

#userbox {
  ul li {
    padding-bottom: 0.5em; }
  button {
    font-size: 12pt;
    border-radius: 8px;
    margin: 0px; }
  input {
    margin: 0px;
    width: 200px !important; }
  h1 {
    font-size: 18pt; } }

#content form {
  input[type=text] {
    width: 620px; }
  textarea {
    width: 620px;
    height: 8em; } }

input {
  &[type=password], &.password {
    width: 200px !important; } }
